/* CSS declarations go here */


body
{
  color: white;

  background-color: #2b2b2b;
}

a
{
  color: white
}
ul li
{
  list-style: none;
  font-size: 21px;
  padding: 10px;
  border-bottom: 1px solid grey;
}